In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
import matplotlib.pyplot as plt
import numpy as np
import os

# Import the API key.
from config import g_key

In [2]:
# This notebook requires that WeatherPy.ipynb is run first, to output data to the below csv file.

# Store the CSV created in WeatherPy into a dataframe.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Charters Towers,AU,2020-12-25 05:53:28,-20.10,146.27,85.15,59,100,16.13
1,1,Mataura,NZ,2020-12-25 05:53:28,-46.19,168.86,57.00,60,99,11.99
2,2,Hasaki,JP,2020-12-25 05:53:28,35.73,140.83,53.60,37,75,3.36
3,3,Broken Hill,AU,2020-12-25 05:53:29,-31.95,141.43,84.20,18,0,12.75
4,4,Nong Chik,TH,2020-12-25 05:53:29,6.84,101.18,83.01,80,53,8.95

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
#max_temp = city_data_df["Max Temp"]
#temps = []
#for temp in max_temp:
#    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations,
                                 weights=[max(temp, 0) for temp in max_temp],
                                 dissipating=False,
                                 max_intensity=300,
                                 point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,
                                 weights=humidity,
                                 dissipating=False,
                                 max_intensity=300,
                                 point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0),
                   zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,
                                 weights=clouds,
                                 dissipating=False,
                                 max_intensity=300,
                                 point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0),
                   zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,
                                 weights=wind,
                                 dissipating=False,
                                 max_intensity=300,
                                 point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [15]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Charters Towers,AU,2020-12-25 05:53:28,-20.10,146.27,85.15,59,100,16.13
3,3,Broken Hill,AU,2020-12-25 05:53:29,-31.95,141.43,84.20,18,0,12.75
4,4,Nong Chik,TH,2020-12-25 05:53:29,6.84,101.18,83.01,80,53,8.95
6,6,Butaritari,KI,2020-12-25 05:53:30,3.07,172.79,80.42,76,85,15.32
8,8,Bandarbeyla,SO,2020-12-25 05:53:30,9.49,50.81,75.04,69,7,21.50
11,11,Rikitea,PF,2020-12-25 05:53:31,-23.12,-134.97,77.41,76,58,12.28
13,13,Avarua,CK,2020-12-25 05:53:32,-21.21,-159.78,78.80,78,23,5.82
15,15,Salalah,OM,2020-12-25 05:53:21,17.02,54.09,75.20,29,0,8.05
16,16,Atuona,PF,2020-12-25 05:53:33,-9.80,-139.03,79.18,78,19,15.01
19,19,Bac Lieu,VN,2020-12-25 05:49:57,9.29,105.72,83.21,74,50,19.66

In [16]:
preferred_cities_df.notnull().sum()

City_ID       149
City          149
Country       149
Date          149
Lat           149
Lng           149
Max Temp      149
Humidity      149
Cloudiness    149
Wind Speed    149
dtype: int64

In [17]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City","Country","Max Temp","Lat","Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp    Lat     Lng Hotel Name
0   Charters Towers      AU     85.15 -20.10  146.27
3       Broken Hill      AU     84.20 -31.95  141.43
4         Nong Chik      TH     83.01   6.84  101.18
6        Butaritari      KI     80.42   3.07  172.79
8       Bandarbeyla      SO     75.04   9.49   50.81
11          Rikitea      PF     77.41 -23.12 -134.97
13           Avarua      CK     78.80 -21.21 -159.78
15          Salalah      OM     75.20  17.02   54.09
16           Atuona      PF     79.18  -9.80 -139.03
19         Bac Lieu      VN     83.21   9.29  105.72

In [18]:
# Set parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [19]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [20]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Charters Towers,AU,85.15,-20.10,146.27,Cattleman's Rest Motor Inn
3,Broken Hill,AU,84.20,-31.95,141.43,Daydream Motel & Cottages
4,Nong Chik,TH,83.01,6.84,101.18,Bakkahland Farm and Resort
6,Butaritari,KI,80.42,3.07,172.79,Isles Sunset Lodge
8,Bandarbeyla,SO,75.04,9.49,50.81,JABIR HOTEL
...,...,...,...,...,...,...
646,Porbandar,IN,80.60,21.64,69.61,Lords Inn Porbandar
658,Bubaque,GW,78.37,11.28,-15.83,"Casa Dora, Bubaque"
660,Vaitape,PF,81.75,-16.52,-151.75,Conrad Bora Bora Nui
667,Mormugao,IN,86.00,15.40,73.80,Coconut Creek Resort
668,Touros,BR,78.80,-5.20,-35.46,INN NEW HORIZON

In [21]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0),
                   zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,
                                 weights=max_temp,
                                 dissipating=False,
                                 max_intensity=300,
                                 point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [24]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [25]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,
                                 weights=max_temp,
                                 dissipating=False,
                                 max_intensity=300,
                                 point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))