In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
import matplotlib.pyplot as plt
import numpy as np
import os

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Brae,GB,2020-12-25 04:00:04,60.40,-1.35,42.80,81,99,12.75
1,1,Ponta Do Sol,PT,2020-12-25 04:00:06,32.67,-17.10,64.40,77,75,18.34
2,2,Kyaukse,MM,2020-12-25 04:00:12,21.60,96.13,71.60,73,20,3.36
3,3,Adrar,MR,2020-12-25 04:00:14,20.50,-10.07,58.87,32,100,7.40
4,4,Pasni,PK,2020-12-25 03:59:03,25.26,63.47,69.39,52,3,7.63

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Get the maximum temperature.
#max_temp = city_data_df["Max Temp"]
#temps = []
#for temp in max_temp:
#    temps.append(max(temp, 0))

In [9]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations,
                                 weights=[max(temp, 0) for temp in max_temp],
                                 dissipating=False,
                                 max_intensity=300,
                                 point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,
                                 weights=humidity,
                                 dissipating=False,
                                 max_intensity=300,
                                 point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0),
                   zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,
                                 weights=clouds,
                                 dissipating=False,
                                 max_intensity=300,
                                 point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0),
                   zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,
                                 weights=wind,
                                 dissipating=False,
                                 max_intensity=300,
                                 point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [21]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
6,6,Hilo,US,2020-12-25 04:00:11,19.73,-155.09,80.60,57,20,6.93
10,10,Rikitea,PF,2020-12-25 04:00:19,-23.12,-134.97,77.25,76,37,12.95
12,12,Biak,ID,2020-12-25 04:00:19,-0.91,122.88,83.39,73,100,5.44
13,13,Belmonte,BR,2020-12-25 04:00:19,-15.86,-38.88,77.00,73,20,5.82
17,17,Bathsheba,BB,2020-12-25 04:00:20,13.22,-59.52,78.80,74,20,21.92
18,18,Saint-Philippe,RE,2020-12-25 04:00:21,-21.36,55.77,82.40,65,0,4.70
21,21,Kirakira,SB,2020-12-25 04:00:22,-10.45,161.92,83.64,73,92,8.21
29,29,Butaritari,KI,2020-12-25 04:00:25,3.07,172.79,80.42,76,91,14.36
33,33,Kapaa,US,2020-12-25 03:59:47,22.08,-159.32,78.80,74,20,11.41
36,36,Beloha,MG,2020-12-25 04:00:27,-25.17,45.05,77.38,75,66,3.40

In [25]:
preferred_cities_df.notnull().sum()

City_ID       161
City          161
Country       161
Date          161
Lat           161
Lng           161
Max Temp      161
Humidity      161
Cloudiness    161
Wind Speed    161
dtype: int64

In [26]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City","Country","Max Temp","Lat","Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp    Lat     Lng Hotel Name
6             Hilo      US     80.60  19.73 -155.09
10         Rikitea      PF     77.25 -23.12 -134.97
12            Biak      ID     83.39  -0.91  122.88
13        Belmonte      BR     77.00 -15.86  -38.88
17       Bathsheba      BB     78.80  13.22  -59.52
18  Saint-Philippe      RE     82.40 -21.36   55.77
21        Kirakira      SB     83.64 -10.45  161.92
29      Butaritari      KI     80.42   3.07  172.79
33           Kapaa      US     78.80  22.08 -159.32
36          Beloha      MG     77.38 -25.17   45.05

In [27]:
# Set parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [28]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [29]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
6,Hilo,US,80.60,19.73,-155.09,Hilo Hawaiian Hotel
10,Rikitea,PF,77.25,-23.12,-134.97,Pension Maro'i
12,Biak,ID,83.39,-0.91,122.88,Penginapan Kim
13,Belmonte,BR,77.00,-15.86,-38.88,Pousada Monte Carmelo O Pão
17,Bathsheba,BB,78.80,13.22,-59.52,Atlantis Hotel
...,...,...,...,...,...,...
664,Port Moresby,PG,86.00,-9.44,147.18,Lamana Hotel
668,Mackay,AU,77.00,-21.15,149.20,International Lodge Motel
669,Mount Isa,AU,86.00,-20.73,139.50,ibis Styles Mt Isa Verona
670,Waingapu,ID,85.78,-9.66,120.26,Pondok Wisata Elim
674,Miri,MY,84.20,4.41,114.01,"Mega Hotel, Miri"